/* 参考:
[[Obsidian] CSSとスニペットだけを調べまくったレポート](https://pouhon.net/obsidian-css/6542/) */

/* Front Matter ラベルの幅 */
.frontmatter-container .frontmatter-section-label {
    flex-basis: 5em;
}

/* 見出し 1 編集 */
/* ファイル名と紛らわしいので h1 は薄く表示する */
.cm-header-1 {
    opacity: 0.5;
}

/* 見出し 1 プレビュー*/
/* プレビュー時に表示を消す */
.markdown-preview-view h1 {
    display: none;
}

/* 見出し 2 プレビュー*/
.markdown-preview-view h2 {
    margin-top: 1.5em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--background-modifier-border);
}

/* 見出し 3 プレビュー*/
.markdown-preview-view h3 {
    margin-top: 1.5em;
}

/* インラインコード 編集・プレビュー */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.markdown-rendered code {
    background: rgba(110, 118, 129, 0.2);
    border-radius: 4px;
    padding: 0.1rem 0.4rem;
    overflow-wrap: break-word;
}

/* [obsidian-css-snippets/Markers.md at master · Dmytro-Shulha/obsidian-css-snippets](https://github.com/Dmytro-Shulha/obsidian-css-snippets/blob/master/Snippets/Markers.md) */
/* Mark a line break, trailing space, tab when in Edit mode */
.cm-trailing-space-new-line, .cm-trailing-space-a, .cm-trailing-space-b, .cm-tab{
    font-size: 0;
}
.cm-trailing-space-a::before, .cm-trailing-space-b::before, .cm-trailing-space-new-line::before, .cm-tab::before{
    content:'·';
    color:var(--text-faint);
    font-size: initial;
}
.cm-trailing-space-new-line::before {
    content:'↵';
}
.cm-tab::before {
    content:'⟶'
}
