########################################
# .gitignore ホワイトリスト
########################################
# 全てのファイルを除外する
*
*/

# 全てのディレクトリをホワイトリストへ追加する
!*/

# 追跡対象のファイルを記述する
!bin/acd
!bin/cj
!bin/ffmpeg-all
!bin/moda

!config/azuredatastudio/User/settings.json
!config/Code/extensions
!config/Code/markdown-preview-enhanced/style.less
!config/Code/User/snippets/markdown.json
!config/Code/User/keybindings.json
!config/Code/User/settings.json
!config/markdown-preview-enhanced/mume/style.less
!config/sheldon/plugins.toml
!config/WindowsPowerShell/Microsoft.PowerShell_profile.ps1
!config/WindowsTerminal/LocalState/settings.json
!config/WSL/.wslconfig

!setup/MacOS/Brewfile
!setup/Ubuntu/install-apt-packages.sh
!setup/Ubuntu/install-git.sh
!setup/Ubuntu/install-jekyll.sh
!setup/Ubuntu/install-my-scripts.sh
!setup/Ubuntu/install-node-js.sh
!setup/Ubuntu/install-rbenv.sh
!setup/Ubuntu/install-vscode-extensions.sh
!setup/Ubuntu/install-sheldon.sh
!setup/Ubuntu/setup-environment.sh
!setup/Ubuntu/setup-git.sh
!setup/Ubuntu/setup-ja.sh
!setup/Ubuntu/setup-sheldon.sh
!setup/Ubuntu/setup-zsh.sh
!setup/Windows/get-apps.ps1
!setup/Windows/install-apps-from-msstore.ps1
!setup/Windows/install-apps-from-winget.ps1
!setup/Windows/link.ps1

!zsh/rc/alias.zsh
!zsh/rc/env.zsh
!zsh/rc/option.zsh
!zsh/rc/theme.zsh
!zsh/rc/zplug.zsh

!.gitconfig
!.gitconfig.local.example
!.gitignore
!.gitignore_global
!.zshrc
!README.md
