##### 初期設定 #####
# 全てのファイルを ignore
*
*/
# 全てのディレクトリをホワイトリストへ追加
!*/

##### ホワイトリスト #####
# 管理対象のファイルを追記
!/.bin/
!/.bin/**

!/.config/
!/.config/**

!/.config/Code/
!/.config/Code/**
!/.config/Code/User/
!/.config/Code/User/**

!/.bashrc

!/.zshrc
!/.zsh/rc/alias.zsh
!/.zsh/rc/alias_cj.zsh
!/.zsh/rc/option.zsh
!/.zsh/rc/path.zsh
!/.zsh/rc/theme.zsh
!/.zsh/.dircolors

!/.gitignore
!/.gitignore_global
!/.gitconfig_shared

!/.wslconfig

!/.documents/**
!/README.md