##### 初期設定 #####
# 全てのファイルを ignore
*
*/
# 全てのディレクトリをホワイトリストへ追加
!*/

##### ホワイトリスト #####
# 管理対象のファイルを追記
!/.bin/
!/.bin/**

!/.config/
!/.config/**

!/.config/Code/
!/.config/Code/**
!/.config/Code/User/
!/.config/Code/User/**

!/.bashrc

!/.zshrc
!/.zsh/alias.zsh
!/.zsh/option.zsh
!/.zsh/path.zsh
!/.zsh/theme.zsh
!/.dircolors

!/.gitignore
!/.gitignore_global
!/.gitconfig_shared

!/.wslconfig

!/Documents/**
!/README.md